/* Variables */

:root {
    /* Title Text */
    --title-font-family: "Poppins", sans-serif;
    --title-font-weight: 700;
    --title-font-size: 30px;
    --title-font-color: rgb(25, 25, 25);

    /* Subtitle Text */
    --subtitle-font-family: "Poppins", sans-serif;
    --subtitle-font-weight: 700;
    --subtitle-font-size: 25px;
    --subtitle-font-color: rgb(25, 25, 25);

    /* Base Text */
    --base-font-family: "Poppins", sans-serif;
    --base-font-weight: 400;
    --base-font-size: 20px;
    --base-font-color: rgb(255, 255, 255);

    /* Base */
    --base-background: rgb(25, 25, 25);

    /* Scrollbar */
    --scrollbar-track: rgb(205, 205, 205);
    --scrollbar-thumb: rgb(155, 155, 155);
    --scrollbar-hover: rgb(105, 105, 105);

    /* Header */
    --header-background: rgb(255, 255, 255);

    /* Main */
    --main-background: rgb(235, 235, 235);
    --main-container-background: rgb(25, 25, 25);
    --search-bar-background: rgb(255, 255, 255);
    --search-button-background: rgb(235, 235, 235);
    --search-button-hover-background: rgb(255, 100, 5);
    --seperator-color: rgb(255, 100, 5);

    /* Footer */
    --footer-background: rgb(255, 255, 255);
    --footer-icon-border: rgb(25, 25, 25);
    --footer-icon-hover-border: rgb(255, 100, 5);
}

/* Base */

html {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    color: var(--base-font-color);
}

body {
    background: var(--base-background);
    overflow: auto;
    margin: 0;
}

.title-text {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    color: var(--title-font-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.subtitle-text {
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-font-color);
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

a {
    text-decoration: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

/* Header */

#header {
    background: var(--header-background);
    padding: 10px;
}

/* Main */

#main {
    background: var(--main-background);
    padding: 10px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-container {
    background: var(--main-container-background);
    text-align: center;
    padding: 25px;
    border-radius: 30px;
    width: 50%;
    margin: auto;
}

.search {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background: var(--search-bar-background);
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
}

.search-button {
    background: var(--search-button-background);
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-button:hover {
    background: var(--search-button-hover-background);
    transition: 0.25s;
}

.weather-information {
    padding: 10px;
}

.weather-information.loading {
    visibility: hidden;
    position: relative;
    max-height: 30px;
}

.weather-information.loading:after {
    padding: 15px;
    visibility: visible;
    position: absolute;
    content: "Loading...";
    top: 0px;
    left: 0px;
    right: 0px;
}

.seperator {
    border-bottom: 3px solid var(--seperator-color);
    width: 10%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-heading {
    padding: 10px;
    font-size: 35px;
}

.city-name {
    padding: 10px;
    font-size: 35px;
}

.country {
    padding: 10px;
}

.latitude {
    padding: 10px;
}

.longitude {
    padding: 10px;
}

.icon {
    height: 50px;
    width: 50px;
    padding-right: 5px;
}

.description {
    text-transform: capitalize;
}

.clouds {
    padding: 10px;
}

.humidity {
    padding: 10px;
}

.temperature {
    padding: 10px;
}

.feels-like {
    padding: 10px;
}

.temp-min {
    padding: 10px;
}

.temp-max {
    padding: 10px;
}

.wind-speed {
    padding: 10px;
}

.wind-direction {
    padding: 10px;
}

.wind-gust {
    padding: 10px;
}

.location-image {
    margin-top: 15px;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.flexbox {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .main-container {
        width: 75%;
    }
    .search-bar {
        width: 75%;
    }
    .seperator {
        width: 10%;
    }
    .location-image {
        height: 300px;
    }
}

@media only screen and (max-width: 425px) {
    .main-container {
        width: 80%;
    }
    .search-bar {
        width: 65%;
    }
    .seperator {
        width: 20%;
    }
    .location-image {
        height: 125px;
    }
}

/* Footer */

#footer {
    background: var(--footer-background);
    padding: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer-icon-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    margin: 10px;
    border: 3px solid var(--footer-icon-border);
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.footer-icon:hover {
    border: 3px solid var(--footer-icon-hover-border);
    transition: 0.25s;
}
